*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body{
   
    color: whitesmoke;
    background-color:rgb(89, 138, 122);
}
h1{
    position: relative;
    left:10px;
    margin: 10px 20px;
}
caption { 
   
    margin-bottom: 3px;
   
}

td{
    border: 2px solid whitesmoke;
    border-collapse: collapse;
    padding: 6px;
}
table{
     position: relative;
    left:100px;
    border-collapse: collapse;

}

/* Table CSS */
a{
    text-decoration: none;
    color: goldenrod;
    
}

a:hover{
    color:rgb(24, 33, 141);
}

ul {
    display: flex;
    text-decoration: none;
}

li{
    list-style-type: none;
    margin-left: 30px;
}

header{
    background-color: rgb(89, 138, 122);
    padding: 10px;
}

footer{
    background-color: rgb(89, 138, 122);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
