body{
    color: whitesmoke;
    background-color:darkslategray
}

caption {
    margin-bottom: 3px;
}

td{
    border: 2px solid whitesmoke;
    border-collapse: collapse;
    padding: 6px;
}
table{
    border-collapse: collapse;

}

/* Table CSS */
a{
    text-decoration: none;
    color:rgb(19, 221, 221);
    
}

a:hover{
    color:aqua;
}

ul {
    display: flex;
    text-decoration: none;
}

li{
    margin-left: 30px;
}

header{
    background-color:rgb(17, 120, 120);
}